<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <tittle>
        Name : Sarada Maddipatla 
        Student ID : N01486867</br>
        Name : Uppala Vikas
        Student ID : N01486527
    </tittle>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <footer>
    Email : 
    saradamaddipatla364@gmail.com, 
    vikasguptha99@gmail.com
  </footer>
</html>