<form method="POST" action="/">
<pre>
  </br>UserName : <input type="text" name="username" placeholder="Enter title" /></br>
  Password : <input type="text" name="password" placeholder="Enter Page No" /></br>
  <input type="submit" value="Login"/>
  <a href="http://localhost:8000/register" target="_blank">New User? Register</a></br>
</pre>
</form>