<form method="POST" action="/">
<pre>
    <a href="http://localhost:8000/api/movieform" target="_blank">Movie Details by page</a></br>
    <a href="http://localhost:8000/api/movies/:movie_id" target="_blank">Movie Details by ID</a></br>
</pre>
</form>